{% import 'PwcSirBundle:Macros:flashes.html.twig' as flashes %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Security Issue Repository - {% block title %}{% if title is defined %}{{ title|trans }} {% if subtitle is defined %}- {% endif %}{% endif %}{{ subtitle|default('- No subtitle yet') }}{% endblock %}</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
    {% javascripts
    'bundles/pwcsir/js/chosen.jquery.min.js'
    'bundles/pwcsir/js/select2.min.js' output='bundles/pwcsir/js/main.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.no-icons.min.css">

    {% stylesheets
    'bundles/pwcsir/css/chosen.css'
    'bundles/pwcsir/css/select2.css'
    'bundles/pwcsir/css/sir.css' filter='cssrewrite' output='bundles/pwcsir/css/main.css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}

</head>

<body>
{% block body %}{% endblock body %}
</body>

</html>