<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Test Application!{% endblock %}</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    {% javascripts
    'bundles/pwcsir/js/chosen.jquery.js'
    'bundles/pwcsir/js/select2.js' output='bundles/pwcsir/js/main.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets
    'bundles/pwcsir/css/cssreset-min.css'
    'bundles/pwcsir/css/cssbase-min.css'
    'bundles/pwcsir/css/select2.css'
    'bundles/pwcsir/css/chosen.css'
    'bundles/pwcsir/css/select2.css' filter='cssrewrite' output='bundles/pwcsir/css/main.css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="stylesheet" type="text/css" media="screen" href="/bundles/pwcsir/css/styles.css" />

</head>
<body>

{% block body %}
<div id="main">
    {% block main %}
        {% block fos_user_content %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="sidebar">
            {% block sidebar %}
                <div id="options">{% block options %}test{% endblock options %}</div>
                <div id="vulnerability">{% block vulnerability %}{% endblock vulnerability %}</div>
            {% endblock sidebar %}
        </div>
        {% endblock fos_user_content %}
    {% endblock main %}
</div>
{% endblock body %}

</body>
</html>