{% extends 'PwcSirBundle::base.html.twig' %}
{% form_theme form 'PwcSirBundle:Form:fields.html.twig' %}

{% block body %}
<h1>OwaspItem creation</h1>

<form action="{{ path('owaspitem_create') }}" method="post" {{ form_enctype(form) }}>
    <script>
        $(document).ready(
                function() { $( ".alter-select" ).select2({
                    placeholder: "Select report type",
                    width: '360px'
                });
                });
    </script>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('owaspitem') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}