BODY
{
	font: 77% Georgia;
	color: #404040;
	display: block;
	margin: 0 auto;
	width: 1024px;
}
BUTTON
{
	font: 100% Georgia;
	background-color: #787878;
	border: 1px solid #B1A9A9;
	color: #FFF;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	width: 90px;
}
UL.record_actions
{
	margin: 20px 0px 0px;
	padding: 0px;
	display: inline-block;
	list-style-type: none;
}
UL.record_actions LI
{
	float: left;
}
UL.record_actions LI.cancel
{
	padding-top: 6px;
	margin-left: 30px;
	width: 233px;
	text-align: right;
}
UL.record_actions LI.submit
{
	margin-left: 158px;
}
FORM DIV.row
{
	margin-bottom: 10px;
	padding: 4px;
	background-color: #FDFCFC;
	width: 510px;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #E1E3E1;
}
FORM DIV.row SPAN.strvalue
{
	padding: 5px;
	display: inline-block;
}
TEXTAREA.sir, INPUT[type=text].sir, INPUT[type=url].sir, SELECT.sir
{
	border: 1px solid #B7B7B7;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	width: 350px;
}
.sir.alter-select2
{
	width: 360px;
}
.sir.alter-select2 .select2-choices
{
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
TEXTAREA.sir
{
	height: 100px;
	resize: vertical;
}
DIV.row LABEL
{
	display: inline-block;
	padding: 5px;
	width: 138px;
	vertical-align: top;
}
H1
{
	padding: 5px;
}
INPUT[type=text].sir:focus, INPUT[type=url].sir:focus, SELECT.sir:focus, TEXTAREA.sir:focus
{
	outline: 1px solid #5897FB;
	/*+box-shadow:0 0 5px rgba(0, 0, 0, 0.3);*/
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
BUTTON:focus, BUTTON:hover
{
	-webkit-transition: background-color 0.5s linear;
	-moz-transition: background-color 0.5s linear;
	-o-transition: background-color 0.5s linear;
	background: #5897FB;
	text-decoration: underline;
}
BUTTON:active
{
	-webkit-transition: background-color 0.2s linear;
	-moz-transition: background-color 0.2s linear;
	-o-transition: background-color 0.2s linear;
	background: #4D91FC;
	/*+box-shadow:0 0 5px rgba(0, 0, 0, 0.3);*/
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#content
{
	background-color: #F9F9FB;
	margin: 20px auto 0;
	display: block;
	width: 520px;
	padding: 20px;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #B7B7B7;
}
UL.form-collection
{
	margin: 0px;
	padding: 0px;
	display: inline-block;
	list-style-type: none;
}
UL.form-collection LI.add-child
{
	text-align: right;
	margin-right: 10px;
}
UL.form-collection LI.embedded-child
{
	background-color: #EDEDF7;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #E1E3E1;
	padding: 5px;
	margin-bottom: 10px;
}
UL.form-collection LI.embedded-child .delete-child
{
	margin-left: 155px;
}
UL.form-collection LI.embedded-child TEXTAREA.sir, UL.form-collection LI.embedded-child INPUT[type=text].sir, UL.form-collection LI.embedded-child INPUT[type=url].sir, UL.form-collection LI.embedded-child SELECT.sir
{
	width: 340px;
}
UL.form-collection LI.embedded-child DIV.row
{
	width: 500px;
}
